@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Kelly+Slab&display=swap');

body {
    margin: 0;
    border: none;
    padding: 0;
}

h1 {
    font-family: 'fugaz one', sans-serif; 
    color: #fff;
    letter-spacing: 4px;
    position: absolute;
    margin: 30px 50px;
    font-size: 300%;
}

.active {
    text-decoration: underline;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/players.jpg") no-repeat center center;
    position: relative;
}

#message {
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 20px;
    bottom: 50px;
    right: 190px;
    color: #fff;
    padding: 20px;
}

#hero-image h2 {
    text-align: center;
    row-gap: 5px;
    line-height: 70px;
    font-family: 'kelly slab', sans-serif;
    letter-spacing: 3px;
    font-size: 200%;
}

nav {
    background-color: rgb(201, 28, 28);
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

nav a {
    margin: 0 80px;
    font-family: 'kelly slab', sans-serif;
    font-size: 130%;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: yellowgreen;
}

section {
    height: 600px;
    width: 100%;
    background: url("../images/2946550.webp") no-repeat center center;
    
  
}

#description-div {
    
    background-color: rgba(14, 12, 12, .97);
    height: 100%;
    margin: 0 auto;
    padding: 50px;
}

#center {
    margin: 0 auto;
    width: 70%;
    display: flex;

}

#description-div h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'fugaz one', sans-serif;
    font-size: 400%;
    letter-spacing: 50px;
}

.four-w {
    width: 310px;
    height: 130px;
    background-color: rgb(56, 48, 48);
    text-align: center;
    border: 2px solid rgb(187, 177, 177);
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'kelly slab', sans-serif;
    color: #fff;
    margin: 5px;
    overflow: hidden;
    margin: 5px auto;
}

#description-div h3 {
    font-size: 150%;
}

#description-div li {
    list-style-type: none;
    margin-bottom: 30px;
    width: 90%;
    
}

#description-div ul {
    margin-top: 40px;
}

#why:hover {
    height: 330px;  
}

#what:hover {
    height: 330px;
}

#who:hover {
    height: 330px;
}

#where:hover {
    height: 330px;
}

#why:hover li {
    animation: text-up;
    animation-duration: 1s;
}

#what:hover li {
    animation: text-up;
    animation-duration: 1s;
}

#who:hover li {
    animation: text-up;
    animation-duration: 1s;
}

#where:hover li {
    animation: text-up;
    animation-duration: 1s;
}

#where a {
    color: blanchedalmond;
    text-decoration: none;
}

#where a:hover {
    color: yellowgreen;
}


@keyframes text-up {
    from {
        line-height: 250px;
    }
    to {
        line-height: 20px;
    }
}

footer {
    width: 100%;
    height: 150px;
    background: black;
    text-align: center;

}

footer a {
    font-size: 250%;
    padding: 50px 100px;
    display: inline-flex;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}


footer a:hover {
    color: yellowgreen;
}

#locations-container {
    height: 550px;
    margin: 20px 10%; 
    position: absolute;
    text-align: center;  
}

.locations {
    width: 33.15%;
    height: 50%;
    background-color: rgb(56, 48, 48);
    margin: 0 auto;
    display: inline-block;
    border: 2px solid rgb(187, 177, 177);
    box-sizing: border-box;
    border-radius: 15px;
    font-family: 'kelly slab', sans-serif;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

#sign-in {
    width: 60%;
    height: 500px;
    margin: 0 auto;
    padding: 5%;
    display: flex;
}

#personal-info {
    width: 30%;
    height: 90%;
    margin-top: 40px;
    padding: 0 40px;
    background-color: rgba(14, 12, 12, .97);
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

#personal-info select {
    display: block;
}

#personal-info label {
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: 'kelly slab', sans-serif;
    color: #fff;
}

#personal-info input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

#reset {
    width: 50px;
    margin: 20px 10px;
    float: right;
    transform: scale(1.3);
    font-family: 'fugaz one', sans-serif;
}

#submit {
    background-color: yellowgreen;
    margin: 20px 10px;
    float: left;
    transform: scale(1.3);
    font-family: 'fugaz one', sans-serif;
    width: 20%;
}

#submit:hover {
    color: red;
}

#personal-info h2 {
    font-family: 'fugaz one', sans-serif;
    font-size: 200%;
    color: #fff;
}

#join-video {
    width: 55%;
    height: 90%;
    margin-top: 40px;
    padding: 0 40px;
    background-color: rgba(14, 12, 12, .97);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#join-video h2 {
    font-family: 'fugaz one', sans-serif;
    font-size: 200%;
    color: #fff;
    margin-bottom: 40px;
}

#join-video iframe {
    width: 90%;
    height: 65%;
    display: flex;
    bottom: 10px;
    margin: 0 auto;
}


@media screen and (max-width: 1700px) {
    section {
        height: 900px;
    }
    #center {
        display: flex;
        flex-wrap: wrap;
    }
    #personal-info {
        width: 370px;
    }
    #sign-in {
        width: 80%;
    }
}

@media screen and (max-width: 1300px){
    #sign-in{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #join-video {
        width: 370px;
        height: fit-content;
    }
    section {
        height: 950px;
    }
    #join-video iframe {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1010px) {
    section {
        height: 1050px;
    }
    #center {
        display: flex;
        flex-wrap: wrap;
    }
    footer a {
        font-size: 250%;
        padding: 50px 5%;
        display: inline-flex;
        margin-right: 20px;
    }
    #description-div h2 {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-family: 'fugaz one', sans-serif;
        font-size: 300%;
        letter-spacing: 10px;
    }
    nav a {
        display: block;
        margin-top: 10px;
    }
    #message {
        text-align: center;
        width: 70%;
        height: 200px;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 20px;
        margin-top: 400px;
        margin: 0 auto;
        color: #fff;
    }
}

@media screen and (max-width: 800px) {
    #message {
        font-size: 80%;
        position: sticky;
        top: 300px;
        padding: 10px;
        height: 230px;
    }
    .locations {
        width: 80%;
        margin: 0 auto;
        height: 270px;
    }
    #locations-container {
        overflow: scroll;
        height: 100%;
    }
}

@media screen and (max-width: 465px) {
    #personal-info {
        width: 90%;
        height: 600px;
    }
    #join-video {
        width: 90%;
    }
}